
#datacontainer{
    position: absolute; 
    left: 1462px; 
    bottom: -99px; 
    width: 468px;
    scroll-behavior:smooth;
}
footer ul li{
    color:red;
    list-style-type:none;
    display:inline;
    padding:10px;
}
#wrapper{
    width:2133.33px;
    height:1200px;
    margin:auto;
}
body{
    background-color: black;
}
#datacontainer{
    height:1080px;
    float:right !important;
    right:1550px;
    background-color: blue;
}
#introText{
    font-size:44px;
    color:white;
}

